.articles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.article {
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 100px;
	color: #222222;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100%;
	gap: 10px;
}

.info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
}
.info h2 {
	font-size: 1.7rem;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 5px;
}

.info span {
	font-size: 1rem;
	color: #4f4f4f;
}

.article2 {
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 100px;
	color: #222222;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100%;
	background: #f1f1f1;
	gap: 10px;
}

.animation {
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
}

.info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
}
.info h2 {
	font-size: 1.7rem;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 5px;
}

.info span {
	font-size: 1rem;
	color: #4f4f4f;
}

.imgs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

@media (min-width: 768px) {
	.container {
		background-size: 100% 100%;
	}

	.article {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		gap: 20px;
	}
	.article2 {
		color: #222222;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		gap: 20px;
		background: #f1f1f1;
	}

	.info {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		width: 50%;
	}

	.info h2 {
		font-size: 3rem;
	}

	.info span {
		font-size: 1.1rem;
	}

	.info h2 {
		font-size: 3rem;
	}

	.info span {
		font-size: 1.1rem;
	}
}

@media (min-width: 1024px) {
	.info {
		width: 50%;
	}
}
